body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
    align-content: center;
}
.row{
    align-content: center;
    /*text-align: center;*/
}
.prodContainer{
    align-content: center;
}
/*.prodInfo{*/
    /*border: cornflowerblue 1px solid;*/
    /*border-radius: 2%;*/
/*}*/
.prodInfoParts{
    /*height: 45em;*/
    border: cornflowerblue 1px solid;
    border-radius: 2%;
    background-color: #d9edf7;
}
.restrictOptions{
    background-color: lightblue;
    align-content: center;
    text-align: center;
}
/*table,tr,td,th{*/
    /*border: 1px solid black;*/
/*}*/
